body{
    text-align: center;
    padding-top:20px;
    background: rgb(0,0,144);
    background: rgb(0,0,144);
    background: linear-gradient(90deg, rgba(0,0,144,1) 31%, rgba(255,84,89,1) 80%); 
}
.enviar{
    padding-top: 20px;
}
.create_account{
    padding-top: 20px;   
}
.cuadro{
    border: #e2dce8 5px solid;
    background-color: #e2dce8;
    padding:5%5%5%5%;
    margin: 10px 600px 10px 600px;
    border-radius: 2.5rem;
    -webkit-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
-moz-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
box-shadow: 14px 8px 84px -4px rgba(226,220,232,1); 

}
.cuadro2{
    border: #e2dce8 5px solid;
    background-color: #e2dce8;
    padding:5%5%5%5%;
    margin: 10px 600px 10px 600px;
    border-radius: 2.5rem;
    -webkit-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
-moz-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
box-shadow: 14px 8px 84px -4px rgba(226,220,232,1); 
}
.iniciar_sesion{
    padding-bottom: 75px;
}
.datos{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width:810px){
    
    
}