.title{
    text-align: center;
}
@keyframes nav{

    0%{
        top: 0%;
    }
    100%{
        top: 35%;
    }
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: .3rem;
    overflow: hidden;
}
li{
    float: left;
    margin-left: 1rem;
}
li > a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1rem .5rem;
    font-size:large ;
}

.navegacion{
    border: 5px;
    border-style: solid;
    border-radius: 20px;

}

.boton{
    border-radius: 10px;
    border-style: solid;
}