@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.title{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: rgb(27, 74, 161);
    margin-top: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1rem;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.background{
    text-align: center;
    padding-top: 1.5%;
    background-image: url(../images/Captura\ desde\ 2023-09-07\ 08-58-40.png);
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: .3rem;
    overflow: hidden;
}
.li{
    float: left;
    margin-left: 1rem;
}
.li > a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1rem .5rem;
    font-size:large ;
}


.cuadro_principal{
    border: #c2d0d4 5px solid;
    background-color: #c2d0d4;
    padding:1%1%1%1%;
    margin: 1% 10% 1% 10%;
    border-radius: 2.5rem;
    -webkit-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
    -moz-box-shadow: 14px 8px 84px -4px rgba(226,220,232,1);
    box-shadow: 14px 8px 84px -4px rgba(226,220,232,1); 
    font-family: 'Happy Monkey', cursive;

}
.center{
    text-align: center;
    align-items: center;
    align-content: center;
}

.log{
    display: flex;
    justify-content: end;
    padding-right: 3%;
    text-decoration: none;
    font-family: 'Happy Monkey', cursive;
    
}
.navegacion{
    background-color: #c2d0d4;
    position: sticky;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 0% 2% 0% 2%;   
    border-radius: 1rem;
    font-family: 'Happy Monkey', cursive;
}

.ir{
    margin-left: 75%;
    padding-right:10% ;
    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

    
}